$border-width: 4px;
$border-primary-color: #ffffff;
$border-secondary-color: transparent;

.weekdays {
  background: linear-gradient(90deg, #1e8cc8 0%, #00dcb4 100%);
  padding: 3% 0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  &__day {
    margin: 0 1%;
    flex: 0 0 auto;
  }
}

.week-day {
  color: white;
  font-size: clamp(1rem, 4vw, 10rem);
  width: 12%;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  &:after {
    content: '';
    border-radius: 9999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: repeating-conic-gradient(
        $border-primary-color 0deg 15deg, $border-secondary-color 15deg 30deg
    );
    mask: radial-gradient(
        circle farthest-side,
        transparent calc(100% - #{$border-width}),
        black calc(100% - (#{$border-width} - 1px)) // 1px for better smoothness
    );
  }

  &--current {
    border-style: solid;
  }
  &__text {

  }

}
